body {
  margin: 0;
}

.brand {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
}

.app-header {
  background: #fff;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.app-content {
  margin: 24px;
}
